# Dependency directories
/client/node_modules
/server/node_modules

# Environment variables
.env

# Build output
dist

# Logs and databases
*.log
*.sqlite

# Operating system files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode
.idea

# files
/server/config.js

# Environment variables
.env

# Build output
dist

# Logs and databases
*.log
*.sqlite

# Operating system files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode
.idea

# files
/server/config.js
