.top-result {
    display: flex;
    justify-content: space-between;
}

.client-info {
    margin: 20px 0;
    width: 50%;
    background-color: #bed8c8;
    border-radius: 8px;
}

.info {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.info span {
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    min-height: 420px;
}

app-result-flip {
    height: 100%;
}

app-result-flip:nth-child(1) {
    grid-column: span 1;
    grid-row: span 3;
}

app-result-flip:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;
}

@media (max-width: 900px) {
    .top-result {
        flex-direction: column;
    }

    .client-info {
        width: 100%;
    }

    .info {
        flex-direction: column;
        margin: 0;
        ;
    }

    .info span,
    .info div {
        font-weight: smaller;
        padding: 3px;
    }

    .container {
        grid-template-columns: 1fr;
        min-height: 500px;
    }

    .back {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}