.client {
    border: 1px solid#ccc;
    background-color: #dde5dc;
    border-radius: 8px;
    margin: 10px;
    padding: 5px;
}

.client-info,
.client-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-header {
    font-weight: bold;
}

.client-head {
    flex: 1;
}

.client-name,
.client-product,
.client-quantity,
.client-date,
.delete {
    flex: 1;
    margin: 5px;
}

.delete {
    height: 50px;
    width: 70px;
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 15px;
    color: #fff;
    background-color: #8ebf6e;
    border: 1px solid #8ebf6e;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    transition: transform 0.1s ease;
}

.delete:active {
    transform: scale(0.95);
}