<div class="fixed-menu">
    <div class="navbar">
        <img class="logo" src="../../../assets/cow-silhouette-svgrepo-com.svg" alt="FatCow Logo">
        <div class="menu-item item" routerLink="/client">Client</div>
        <div class="menu-item item" routerLink="/new-client-form">New Client</div>
        <div class="menu-item item" routerLink="/new-sale-form">New Sale</div>
        <div class="menu-item home-menu" routerLink="/">
            <div class="home"></div>
            <div class="home"></div>
            <div class="home"></div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>