<div *ngFor="let client of allClientResults">
    <div *ngIf="client.Result.length && client.Result[0].notifyClient" (load)="lastPurchase(client)">
        <div> The client's stock from the will be over soon. Get in touch with they.</div>
        <div>
            <div> {{client.name}}</div>
            <div> phone</div>
            <div> e-mail</div>
        </div>
        <div>
            <div>Last Purchase</div>
            <div> {{client.Result[0].name}} ({{client.Result[0].prodId}})</div>
            <div> {{client.Result[0].quantity}}</div>
            <div> {{client.Result[0].createdAt}}</div>
        </div>
    </div>
</div>