<form #nutriForm="ngForm" class="form-group" (ngSubmit)="onSubmit(nutriForm)">
    <div *ngIf="clients" class="input-group client">
        <label for="client">Client: </label>
        <select class="form-control" name="clientId" ngModel required>
            <option value="" disabled selected>Choose a client</option>
            <option *ngFor="let client of clients" [value]="client.id">{{client.name}}</option>
        </select>
    </div>
    <div class="input-group">
        <label for="product">Product: </label>
        <select class="form-control" name="prodId" ngModel required>
            <option value="" disabled selected>Choose a product</option>
            <option *ngFor="let prod of product" [value]="prod.prodId">{{prod.name}}</option>
        </select>
    </div>
    <div class="input-group">
        <label>Season: </label>
        <div class="radio">
            <input type="radio" id="wet" value="wet" name="season" ngModel>
            <label for="wet">Wet</label>
            <input type="radio" id="dry" value="dry" name="season" ngModel>
            <label for="dry">Dry</label>
        </div>
    </div>
    <div class="input-group">
        <label for="period">Period: </label>
        <input type="number" name="period" #period="ngModel" ngModel required
            [placeholder]="(period.touched && period.invalid && period.errors?.['required']) ? 'Specify the average period.' : '' ">
    </div>
    <div class="input-group">
        <label for="quantity">Quantity of Animals: </label>
        <input type="number" name="quantity" #quantity="ngModel" ngModel required
            [placeholder]="(quantity.touched && quantity.invalid && quantity.errors?.['required']) ? 'How many animals will be feed?' : '' ">
    </div>
    <div class="input-group">
        <label for="initialWeight">Initial Weight (per Animal): </label>
        <input type="number" name="initialWeight" #initialWeight=ngModel ngModel required
            [placeholder]="(initialWeight.touched && initialWeight.invalid && initialWeight.errors?.['required']) ? 'What is the current average weight of the animals?' : '' ">
    </div>
    <div class="input-group">
        <label for="priceProduct">Price (per Sack): </label>
        <input type="number" name="priceProduct" #priceProduct="ngModel" ngModel required
            [placeholder]="(priceProduct.touched && priceProduct.invalid && priceProduct.errors?.['required']) ? 'Please provide the price.' : '' ">
    </div>
    <div class="input-group">
        <label for="priceWeight">Animal Sale Price (per Weight): </label>
        <input type="number" name="priceWeight" #priceWeight=ngModel ngModel required
            [placeholder]="(priceWeight.touched && priceWeight.invalid && priceWeight.errors?.['required']) ? 'What is the current price per arroba of cattle?' : '' ">
    </div>
    <div class="btn-space">
        <button class="submit-form" type="submit" [disabled]="!nutriForm.valid">Submit</button>
    </div>
</form>
<app-result></app-result>