<form #nutriForm="ngForm" class="form-group" (ngSubmit)="onSubmit()">
    <div *ngIf="clients" class="input-group client">
        <label for="client">{{'client' | translate}}: </label>
        <select class="form-control" name="clientId" ngModel required>
            <option value="" disabled selected>{{"clientAlert" | translate}}</option>
            <option *ngFor="let client of clients" [value]="client.id">{{client.name}}</option>
        </select>
    </div>
    <div class="input-group">
        <label for="product">{{'product' | translate}}: </label>
        <select class="form-control" name="prodId" ngModel required>
            <option value="" disabled selected>{{'productAlert' | translate}}</option>
            <option *ngFor="let prod of product" [value]="prod.prodId">{{prod.name}}</option>
        </select>
    </div>
    <div class="input-group">
        <label>{{'season' | translate}}: </label>
        <div class="radio">
            <input type="radio" id="wet" value="wet" name="season" ngModel>
            <label for="wet">{{'wet' | translate}}</label>
            <input type="radio" id="dry" value="dry" name="season" ngModel>
            <label for="dry">{{'dry' | translate}}</label>
        </div>
    </div>
    <div class="input-group">
        <label for="period">{{'period' | translate}}: </label>
        <input type="number" name="period" #period="ngModel" ngModel required
            [placeholder]="(period.touched && period.invalid && period.errors?.['required']) ? ['alert' | translate] : '' ">
    </div>
    <div class="input-group">
        <label for="quantity">{{'quantity' | translate}}: </label>
        <input type="number" name="quantity" #quantity="ngModel" ngModel required
            [placeholder]="(quantity.touched && quantity.invalid && quantity.errors?.['required']) ? ['alert' | translate] : '' ">
    </div>
    <div class="input-group">
        <label for="initialWeight">{{'initialWeight' | translate}}: </label>
        <input type="number" name="initialWeight" #initialWeight=ngModel ngModel required
            [placeholder]="(initialWeight.touched && initialWeight.invalid && initialWeight.errors?.['required']) ? ['alert' | translate] : '' ">
    </div>
    <div class="input-group">
        <label for="priceProduct">{{'priceProduct' | translate}}: </label>
        <input type="number" name="priceProduct" #priceProduct="ngModel" ngModel required
            [placeholder]="(priceProduct.touched && priceProduct.invalid && priceProduct.errors?.['required']) ? ['alert' | translate] : '' ">
    </div>
    <div class="input-group">
        <label for="priceWeight">{{'priceWeight' | translate}}: </label>
        <input type="number" name="priceWeight" #priceWeight=ngModel ngModel required
            [placeholder]="(priceWeight.touched && priceWeight.invalid && priceWeight.errors?.['required']) ? ['alert' | translate] : '' ">
    </div>
    <div class="btn-space">
        <button class="submit-form" type="submit" [disabled]="!nutriForm.valid">{{'submit' | translate}}</button>
    </div>
</form>
<app-result></app-result>