<form #clientForm="ngForm" class="form-group" (ngSubmit)="onSubmit(clientForm)">
    <div class="input-group">
        <label for="name">Name: </label>
        <input type="string" name="name" #name="ngModel" ngModel required
            [placeholder]="(name.touched && name.invalid && name.errors?.['required']) ? 'Name is required' : '' ">
    </div>
    <div class="input-group">
        <label for="phone">Phone:</label>
        <input type="string" name="phone" #phone="ngModel" ngModel required
            [placeholder]="(phone.touched && phone.invalid && phone.errors?.['required']) ? 'Phone is required' : '' ">
    </div>
    <div class="input-group">
        <label for="email">E-mail: </label>
        <input type="string" name="email" #email="ngModel" ngModel required
            [placeholder]="(email.touched && email.invalid && email.errors?.['required']) ? 'E-mail is required' : '' ">
    </div>
    <div class="input-group">
        <label for="cep">CEP: </label>
        <input type="num" name="cep" #cep="ngModel" ngModel required
            [placeholder]="(cep.touched && cep.invalid && cep.errors?.['required']) ? 'CEP is required' : '' ">
    </div>
    <div class="input-group">
        <label for="street">Street: </label>
        <input type="string" name="street" #street="ngModel" ngModel required
            [placeholder]="(street.touched && street.invalid && street.errors?.['required']) ? 'Street is required' : '' ">
    </div>
    <div class="input-group">
        <label for=" num"> Number: </label>
        <input type="number" name="num" #num="ngModel" ngModel required
            [placeholder]="(num.touched && num.invalid && num.errors?.['required']) ? 'Number is required' : '' ">
    </div>
    <div class="input-group">
        <label for="orientation">Orientation: </label>
        <input type="string" name="orientation" ngModel>
    </div>
    <div class="input-group">
        <label for="neighborhood">Neighborhood: </label>
        <input type="string" name="neighborhood" #neighborhood="ngModel" ngModel required
            [placeholder]="(neighborhood.touched && neighborhood.invalid && neighborhood.errors?.['required']) ? 'Neighborhood is required' : '' ">
    </div>
    <div class="input-group">
        <label for="city">City: </label>
        <input type="string" name="city" #city="ngModel" ngModel required
            [placeholder]="(city.touched && city.invalid && city.errors?.['required']) ? 'City is required' : '' ">
    </div>
    <div class="input-group">
        <label for="state">State: </label>
        <input type="string" name="state" #state="ngModel" ngModel required
            [placeholder]="(state.touched && state.invalid && state.errors?.['required']) ? 'State is required' : '' ">
    </div>
    <div class="btn-space">
        <button class="submit-form" type="submit" [disabled]="!clientForm.valid">Submit</button>
    </div>
</form>