<form #clientForm="ngForm" class="form-group" (ngSubmit)="onSubmit()">
    <div class="input-group">
        <label for="name">{{'name' | translate}}: </label>
        <input type="string" name="name" #name="ngModel" ngModel required
            [placeholder]="(name.touched && name.invalid && name.errors?.['required']) ? ['alert' | translate] : '' ">
    </div>
    <div class="input-group">
        <label for="phone">{{'phone' | translate}}:</label>
        <input type="string" name="phone" #phone="ngModel" ngModel required
            [placeholder]="(phone.touched && phone.invalid && phone.errors?.['required']) ? ['alert' | translate] : '' ">
    </div>
    <div class="input-group">
        <label for="email">E-mail: </label>
        <input type="string" name="email" #email="ngModel" ngModel required
            [placeholder]="(email.touched && email.invalid && email.errors?.['required']) ? ['alert' | translate] : '' ">
    </div>
    <div class="input-group">
        <label for="street">{{'street' | translate}}: </label>
        <input type="string" name="street" #street="ngModel" ngModel required
        [placeholder]="(street.touched && street.invalid && street.errors?.['required']) ? ['alert' | translate] : '' ">
    </div>
    <div class="input-group">
        <label for=" num"> {{'number' | translate}}: </label>
        <input type="number" name="num" #num="ngModel" ngModel required
        [placeholder]="(num.touched && num.invalid && num.errors?.['required']) ? ['alert' | translate] : '' ">
    </div>
    <div class="input-group">
        <label for="neighborhood">{{'neighborhood' | translate}}: </label>
        <input type="string" name="neighborhood" #neighborhood="ngModel" ngModel required
        [placeholder]="(neighborhood.touched && neighborhood.invalid && neighborhood.errors?.['required']) ? ['alert' | translate] : '' ">
    </div>
    <div class="input-group">
        <label for="orientation">{{'orientation' | translate}}: </label>
        <input type="string" name="orientation" ngModel>
    </div>
    <div class="input-group">
        <label for="city">{{'city' | translate}}: </label>
        <input type="string" name="{{'name' | translate}}" #city="ngModel" ngModel required
        [placeholder]="(city.touched && city.invalid && city.errors?.['required']) ? ['alert' | translate] : '' ">
    </div>
    <div class="input-group">
        <label for="state">{{'state' | translate}}: </label>
        <input type="string" name="state" #state="ngModel" ngModel required
        [placeholder]="(state.touched && state.invalid && state.errors?.['required']) ? ['alert' | translate] : '' ">
    </div>
    <div class="input-group">
        <label for="cep">{{'postcode' | translate}}: </label>
        <input type="num" name="cep" #cep="ngModel" ngModel required
            [placeholder]="(cep.touched && cep.invalid && cep.errors?.['required']) ? ['alert' | translate] : '' ">
    </div>
    <div class="btn-space">
        <button class="submit-form" type="submit" [disabled]="!clientForm.valid">{{'submit' | translate}}</button>
    </div>
</form>