*::selection {
    background: rgb(198, 221, 198);
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
}

.input-group label {
    margin-right: 5px;
    display: flex;
    align-items: center;
    flex: 1;
}

input {
    height: 30px;
    width: 100%;
    padding: 6px 10px;
    font-size: 15px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    flex: 4;
}

input:focus {
    outline: 2px solid green;
}

.btn-space {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.submit-form {

    margin-top: 15px;
    padding: 10px 20px;
    font-size: 15px;
    color: #fff;
    background-color: #8ebf6e;
    border: 1px solid #8ebf6e;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.submit-form:active {
    transform: scale(0.95);
}

.submit-form:disabled {
    cursor: not-allowed;
}