* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    height: calc(100% - 24px);
    width: calc(100% - 24px);
    margin: 10px;
    padding: 20px;
    background-color: #8ccf8724;
    border: 1px solid #000;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    overflow: auto;
    max-width: 1200px;
    min-height: 97vh;
}